* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Kanit";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.container {
  border: 5px solid white;
  background-color: #fff;
}

.img-content {
  position: relative;
  height: 100%;
  margin: 3px;
}

.paknam-detail {
  color: white;
  position: absolute;
  top: 280px;
  left: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

.paknam-place {
  position: absolute;
  color: #fff;
  background-color: grey;
  font-size: 1.5rem;
  padding: 5px 20px;
  top: 20px;
  left: 520px;
}

.paknam-img {
  border-radius: 10px;
  background-size: cover;
  filter: brightness(1);
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
